<div id="<%= dom_id request %>">
  <p>
    <strong>Name:</strong>
    <%= request.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= request.birthdate %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= request.reason %>
  </p>

  <p>
    <strong>City:</strong>
    <%= request.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= request.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= request.country %>
  </p>

</div>
